$main-bg-color: #2d2a2e;
$med-bg-color: #221f22;
$dark-bg-color: #19181a;
$red-color: #ff6188;
$green-color: #a9dc76;
$yellow-color: #ffd866;
$orange-color: #fc9867;
$purple-color: #ab9df2;
$blue-color: #78dce8;
$white-color: #fcfcfa;
$grey-color: #BDBBBD;
$dark-grey-color: #727072;
$monospace-font: 'Fira Mono', monospace;
$heading-fontweight: 300;